/*
C0C0C0 gray
*/
body {
    width: 1650px;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-align: center;
}
.header img {
    max-width: 100%;
    max-height: 100%;
}

.small_logo {
    display: inherit;
    height: 50px;
    width: 80px;
    text-align: inherit;
}

.header_logo {
    display: inherit;
    height: inherit;
    text-align: inherit;
    width: auto;
}
.menu {
    display: inherit;
    height: inherit;
    align-items: inherit;
    padding 10px;

}
.button {
    color: #29363e;
    font-size: 22px;
    margin: 0 5px;
    border: 2px solid #29363e;
    border-radius: 10px;
    padding: 2px 10px;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;

    cursor: pointer;
    background-color: C0C0C0;
}
.button:hover {
    background-color: #e05d53;
    color: white;
}
