<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div class="header">
    <div class="small_logo">
        <a href="/">
            <img src="small-logo.png">
        </a>
    </div>
    <div class="header_logo">
        <a href="/">
            <img src="header_logo.png">
        </a>
    </div>
    <div class="menu">
        <a href="/" class="button">Strona Główna</a>
        <a href="/about" class="button">O mnie</a>
        <a href="/contact" class="button">Kontakt</a>
    </div>
</div>
    <div class="content">
        <div id="text1"  class="text">
            Cześć! <br>
            Obecnie programuję w Javie, ale zanim wszedłem w świat IT spędziłem 10 lat w branży gastronomicznej.
            Jednocześnie studiując Zarządzenie Firmą
            na Uniwerytecie Jagiellońskim mogłem spojrzeć na każdy element biznesu pod kątem efektywności,
            ergonomii czy nawet pracownika - decyzje
            podejmowane przez przełożonych i ich sposób w jaki oddziałują na morale zespołu.
        </div>
        <div id="photos1" class="photo">
            <img src="bq1.jpg">
            <img src="bq2.jpg">
        </div>
        <div id="text2" class="text">
            Przeszedłem cały łańcuch stanowisk w tej branży. <br>Zacznynając od zmywania naczyń i pomoc barmańską. Następnie pracę jako barman i kelner.
            Praca na tych stanowiskach dała mi sporo wiedzy na temat pracy z klientami, ich oczekiwaniami oraz tego, że: klient (nie) zawsze ma rację.
            Poznałem wiele typów ludzi z którymi na całym świecie ma do czynienia każda branża.<br>
            W międzyczasie przygotowywanie koktaili stało się moją pasją. Chodziłem na szkolenia flair (efektowne ewolucje butelkami czy shakerami),
            szkolenia produktowe i wiele innych.<br>
            Kolejnym z moich etapów kariery była praca jako szef baru oraz kierownik sali. Mogłem zacząć wdrażać swoje własne rozwiązania, które
            sprawdzały się w innych miejscach, czy modyfikować i testować własne rozwiązania, które w większości przypadków okazywały się
            strzałem w dziesiątkę.<br>
            Naturalną rzeczą było objęcie prowadzenia lokalu. Zajmowałem się łącznie trzema miejscami: klubem, kawiarnią i koktailbarem na światowym poziomie.
        </div>
        <div id="photos2"  class="photo">
            <img src="choice1.jpg">
            <img src="bk1.jpg">
        </div>
        <div id="text3"  class="text">
            Uważam, że osiągnąłem limit, który nie przeskoczę już. Dalej mógłbym tylko albo pracowac w lepszych miejscach lub założyć własny lokal.
            Zarządzanie wszystkimi elementami jak surowce, staff, kontrahenci itp w Polsce jest bardzo wymagające i aby osiągać jakieś zyski trzeba wykorzystwać
            techniki, które kłócą się z moimi przekonaniami. Odczuwałem je na każdym stopniu mojej kariery w tej branży, dlatego postanowiłem zmienić
            swoje życie i zacząć karierę w IT o której myślałem jeszcze w czasach gimnazjum.
            Do programowania miałem kilka podejść. Kursy Udemy, kursy przez aplikacje mobilne... Niestety sytuacja finansowa zmuszała mnie do konynuowania obecnej pracy
            na moje 150-200% czego wynikiem był brak czasu na dalszą naukę.
            Momentem zwrotnym był na pewno Bootcamp Backend Java Developer od Comarch oraz przeprowadzka.
            Obecnie jestem w trakcie kursu i angażuję się jeszcze bardziej niż wcześniej (chociaż, chciałbym więcej).
        </div>
        <div id="photos3"  class="photo">
            <img src="choice2.jpg">
            <img src="bk2.jpg">
        </div>
    </div>
    <div class="footer">

    </div>
</body>
</html>