<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div class="header">
    <div class="small_logo">
        <a href="/">
            <img src="small-logo.png">
        </a>
    </div>
    <div class="header_logo">
        <a href="/">
            <img src="header_logo.png">
        </a>
    </div>
    <div class="menu">
        <a href="/" class="button">Strona Główna</a>
        <a href="/about" class="button">O mnie</a>
        <a href="/contact" class="button">Kontakt</a>
    </div>
    <div class="content" id="contactData">
        Email:  daw.maron.business@gmail.com <br>
    </div>
</body>
</html>