<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/contact.css">
</head>
<body>
    <div class="header">
        <div class="small_logo">
            <a href="/">
                <img src="small-logo.png">
            </a>
        </div>
        <div class="header_logo">
            <a href="/">
                <img src="header_logo.png">
            </a>
        </div>
        <div class="menu">
            <a href="/" class="button">Strona Główna</a>
            <a href="/about" class="button">O mnie</a>
            <a href="/contact" class="button">Kontakt</a>
        </div>
    </div>
    <div class="social_container">
        <div id="linkedIn" class="company_logo">
            <a href="https://www.linkedin.com/in/dawid-maro%C5%84-753312260/"> <img src="LinkedIn_icon.png"> </a>
        </div>
        <div id="facebook" class="company_logo">
            <a href="https://www.facebook.com/dawid.maron/"> <img src="facebook_icon.png"></a>
        </div>
        <div id="github" class="company_logo">
            <a href="https://github.com/marex333/"> <img src="github_icon.bmp"></a>
        </div>
    </div>
</body>
</html>